
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="base :: header"></head>
<!--Title-->
<title> Blogen | Dashboard</title>
<!--Menu-->
<nav th:insert="header :: menu"></nav>
<!-- Header -->
<section class="py-2 bg-primary text-white mt-5" id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fas fa-cog"></i> Dashboard</h1>
            </div>
        </div>
    </div>
</section>

<!--  Actions -->
<section class="py-4 mb-4 bg-light" id="actions">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" data-target="#addPostModal" data-toggle="modal">
                    <i class="fas fa-plus"></i> Add Post
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-success btn-block" data-target="#addCategoryModal" data-toggle="modal">
                    <i class="fas fa-plus"></i> Add Categories
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-warning btn-block" data-target="#addUserModal" data-toggle="modal">
                    <i class="fas fa-plus"></i> Add User
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Posts Section and Side Actions-->
<div id="posts">
    <div class="container row m-auto">
        <div class="col-md-9">
            <div class="card ">
                <div class="card-header">
                    <h4>Latest Posts</h4>
                </div>
                <table class=" table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Created by</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="post : ${posts.getAllPosts()}">
                        <td th:text="${post.id}"></td>
                        <td th:text="${post.title}"></td>
                        <td th:text="${post.category}"></td>
                        <td th:text="${post.date}"></td>
                        <td th:text="${post.createdBy}"></td>
                        <td><a class="btn btn-secondary" th:href="@{'/posts/details/' + ${post.id}}">
                            <i class="fas fa-angle-double-right"></i> Details
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Side Actions-->
        <div class="col-md-3 position-static">
            <div class="card text-center bg-primary text-white mb-3">
                <a class="text-decoration-none text-light" href="/posts">
                    <div class="card-body">
                        <h3>Posts</h3>
                        <h4 class="display-5">
                            <i class="fas fa-folder"></i>
                            <p th:text="${posts.getAllPosts().size()}"></p>
                        </h4>
                    </div>
                </a>
            </div>
            <div class="card text-center bg-success text-white mb-3">
                <a class="text-decoration-none text-light" href="/categories">
                    <div class="card-body">
                        <h3>Categories</h3>
                        <h4 class="display-5">
                            <i class="fas fa-folder"></i>
                            <p th:text="${categories.getAllCategories().size()}"></p>
                        </h4>
                    </div>
                </a>
            </div>

            <div class="card text-center bg-warning text-white mb-3">
                <a class="text-decoration-none text-light" href="/users">
                    <div class="card-body">
                        <h3>Users</h3>
                        <h4 class="display-5">
                            <i class="fas fa-folder"></i>
                            <p th:text="${users.getAllUsers().size()}"></p>
                        </h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->

<!-- ADD POST MODAL -->
<div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Add Post</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/posts/add" method="post">
                    <div class="form-group">
                        <label for="titulo">Title</label>
                        <input class="form-control"  id="titulo" name="title" type="text">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="category">
                            <option th:each="category : ${categories.getAllCategories()}" th:text="${category}"
                                    th:value="${category}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <div class="custom-file">
                            <input class="custom-file-input" id="image" type="file">
                            <label class="custom-file-label" for="image">Choose File</label>
                        </div>
                        <small class="form-text text-muted">Max Size 3mb</small>
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <textarea class="form-control" id="body" name="editor"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- ADD CATEGORY MODAL -->
<div class="modal fade" id="addCategoryModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-sucess text-white">
                <h5 class="modal-title">Add Category</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/categories/add" method="POST">
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input class="form-control" id="name" name="name" type="text">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success">Save Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title">Add User</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/users/add" method="POST">
                    <div class="form-group">
                        <label for="title">Username</label>
                        <input class="form-control" id="title" name="username" type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" name="password" type="password">
                    </div>
                    <div class="form-group">
                        <label for="passwords">Confirm Password</label>
                        <input class="form-control" id="passwords" name="confirmPassword" type="password">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<section th:insert="base :: footer"></section>
